compsci220/Starting out with Python® (Gaddis, Tony) (Z-Library).pdf
ece230/Fundamentals of Electric Circuits (7th Ed.) International Student Edition) (Charles K. Alexander, Matthew Sadiku) (Z-Library).pdf
compsci220/lab4/Lab  4 Instructions(1)(1)(2).docx
compsci220/lab4/COSC 1336 - Chapter 4(1).pptx
